

<section class="py-5">
    <div class="d-flex justify-content-center 
                align-items-center flex-column 
                text-center w-100">
        <div class="mt-md-1 mt-5" style="max-width: 340px;">
            <img class="w-100" src="assets/images/icons/notfound.jpg" alt="">
        </div>
        <div>
            <p class="display-4 text-primary-1">Đã xảy ra lỗi</p>
            <p class="text-primary-1">Trang web bạn tìm kiếm không tồn tại hoặc đã xảy ra lỗi...</p>
            <a [routerLink]="['/']"
               class="text-white text-decoration-none px-4 py-3 
                      bg-warning d-inline-block mt-2 rounded">
                Quay về Trang Chủ
            </a>
        </div>
    </div>
</section>