
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.bg_img {
    
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
