<section class="">
  <div class="shadow p-4 rounded-2">
    <div class="fw-bold text-primary-1 fs-5">Hồ sơ</div>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <label for="">
        <img
          width="96"
          height="96"
          class="object-fit-cover rounded-circle"
          src="https://i.pinimg.com/736x/d8/55/c6/d855c66f95e9d3babeebd1e88bf4026d.jpg"
          alt=""
        />
      </label>
      <input type="file" hidden id="avatar_input" />
      <label
        for="avatar_input"
        class="d-flex gap-2 text-gray align-items-center"
      >
        <i class="fa-solid fa-upload"></i>
        Tải lên
      </label>
    </div>
    <div class="my-4">
      <div class="row d-flex align-items-center mb-3">
        <div class="col-sm-3">Email</div>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="quynh@gmail.com"
          />
        </div>
      </div>

      <div class="row d-flex align-items-center mb-3">
        <div class="col-sm-3">Họ tên</div>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nguyen Van Quynh"
          />
        </div>
      </div>

      <div class="row d-flex align-items-center mb-3">
        <div class="col-sm-3">Số điện thoại</div>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="092332222" />
        </div>
      </div>

      <div class="row d-flex align-items-center mb-3">
        <div class="col-sm-3">Địa chỉ</div>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Sg" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button class="btn btn-warning text-light fw-bold px-4">
          Cập nhật
        </button>
      </div>
    </div>
  </div>
</section>
