<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:image" content="assets/images/logo/logo-no-text.png" />
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/images/logo/logo-no-text.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quin - Đăng ký</title>
    <!-- <link rel="stylesheet" href="./src/bootstrap/css/bootstrap.min.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- style css -->

    <!-- <link rel="stylesheet" href="./src/css/style.css" /> -->

    <!-- slider -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <style>
      .gradient-custom-2 {
        background: var(--primary);

        background: linear-gradient(
          to right,
          var(--priamry),
          #7aaddd,
          #4f09dd,
          #4c9ce8
        );
      }

      @media (min-width: 769px) {
        .gradient-custom-2 {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
        }
      }
    </style>
  </head>
  <body>
    <section
      class="h-100 gradient-form text-primary-1"
      style="background-color: #eee"
    >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-primary-1 overflow-hidden">
              <div class="row g-0 d-flex flex-md-row flex-column-reverse">
                <div
                  class="col-lg-6 d-flex align-items-center gradient-custom-2"
                >
                  <img
                    class="w-100 h-100 object-fit-cover"
                    src="assets/images/images/banner2.png"
                    alt=""
                  />
                </div>
                <div class="col-lg-6">
                  <div class="card-body p-md-3 mx-md-4">
                    <div class="text-center">
                      <a [routerLink]="['/']"
                        ><img
                          src="assets/images/logo/logo.png"
                          style="width: 185px"
                          class="mb-3"
                          alt="logo"
                      /></a>
                      <h4 class="mt-1 mb-5 pb-1">
                        Chào mừng đến với QuinTravel
                      </h4>
                    </div>

                    <form>
                      <p class="text-primary-1 fw-bold">
                        Đăng ký tài khoản mới.
                      </p>

                      <div data-mdb-input-init class="form-outline mb-2">
                        <label
                          class="form-label text-primary-1 fw-bold fs-7"
                          for="form2Example11"
                          ><i class="fa-solid fa-envelope"></i> Email</label
                        >
                        <input
                          type="email"
                          id="form2Example11"
                          name="email"
                          [(ngModel)]="registerObj.email"
                          class="form-control"
                          placeholder="Nhập email..."
                        />
                        <div>
                          <small class="text-danger" *ngIf="errorEmail">{{
                            errorEmail
                          }}</small>
                        </div>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-2">
                        <label
                          class="form-label text-primary-1 fw-bold fs-7"
                          for="fullname"
                        >
                          <i class="fa-solid fa-user"></i> Họ tên</label
                        >
                        <input
                          type="text"
                          id="fullname"
                          class="form-control"
                          name="full_name"
                          [(ngModel)]="registerObj.full_name"
                          placeholder="Nguyễn Văn A"
                        />
                        <div>
                          <small class="text-danger" *ngIf="errorFull_name">{{
                            errorFull_name
                          }}</small>
                        </div>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-2">
                        <label
                          class="form-label text-primary-1 fw-bold fs-7"
                          for="password"
                          ><i class="fa-solid fa-lock"></i> Mật khẩu</label
                        >
                        <input
                          type="password"
                          id="password"
                          name="password"
                          [(ngModel)]="registerObj.password"
                          class="form-control"
                          placeholder="Nhập mật khẩu..."
                        />
                        <div>
                          <small class="text-danger" *ngIf="errorPassword">{{
                            errorPassword
                          }}</small>
                        </div>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-1">
                        <label
                          class="form-label text-primary-1 fw-bold fs-7"
                          for="password_confirmation"
                          ><i class="fa-solid fa-lock"></i> Xác nhận mật
                          khẩu</label
                        >
                        <input
                          type="password"
                          id="password_confirmation"
                          class="form-control"
                          name="password_confirmation"
                          [(ngModel)]="registerObj.password_confirmation"
                          placeholder="Nhập lại mật khẩu..."
                        />
                        <div>
                          <small
                            class="text-danger"
                            *ngIf="errorPasswordConfirm"
                            >{{ errorPasswordConfirm }}</small
                          >
                        </div>
                      </div>

                      <div
                        *ngIf="!loading"
                        class="text-center pt-1 mb-5 pb-1 mt-2"
                      >
                        <button
                          (click)="onSubmit()"
                          class="btn btn-primary gradient-custom-2 w-100"
                        >
                          Đăng Ký
                        </button>
                      </div>
                      <div
                        *ngIf="loading"
                        class="text-center pt-1 mb-5 pb-1 mt-2"
                      >
                        <button
                          disabled
                          class="btn btn-primary gradient-custom-2 w-100"
                        >
                          Đăng Ký
                        </button>
                      </div>
                      <div class="d-flex justify-content-center">
                        <small
                          class="text-center text-danger mb-2 w-100"
                          *ngIf="errorMess"
                          >{{ errorMess }}</small
                        >
                        <small
                          class="text-center text-success mb-2 w-100"
                          *ngIf="successMess"
                          >{{ successMess }}</small
                        >
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-center pb-4 mt-3"
                      >
                        <p class="mb-0 me-2">Bạn đã có tài khoản?</p>
                        <a [routerLink]="['/login']">Đăng nhập</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script src="./src/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
