<main style="padding-top: 90px">
  <div class="container pt-3">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
      </ol>
    </nav>
  </div>

  <!-- tin tuc -->
  <section class="">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="fs-2 fw-bold text-primary">Tin tức</div>
      </div>
      <span class="">Cập nhật những tin tức mới nhất về Quin Travel</span>
      <div class="row mt-4">
        <div class="col-xl-7 col-md-6 col-sm-12 mb-4">
          <div class="w-100">
            <img
              class="w-100 rounded-4 object-fit-cover"
              style="height: 100%"
              src="{{ newsList[0].thumbnail }}"
              alt=""
            />
            <div class="mt-2">
              <a
                [routerLink]="['/news', newsList[0].slug]"
                class="fw-bold my-3 card-name"
                >{{ newsList[0].title }}</a
              >
              <div class="text-danger fw-bold">
                Tin tức
                {{ newsList[0].category == "travel" ? "du lịch" : "khách sạn" }}
                <span class="text-gray fs-7">{{
                  newsList[0].created_at | formatdate
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-md-6 col-sm-12 d-flex flex-column gap-4">
          <div class="row" *ngFor="let item of newsList | slice : 1 : 4">
            <div class="col-5">
              <img class="w-100 rounded-4" src="{{ item.thumbnail }}" alt="" />
            </div>
            <div class="col-7">
              <div class="text-danger fw-bold">
                {{
                  item.category == "travel"
                    ? "Tin tức du lịch"
                    : "Tin tức khách sạn"
                }}
              </div>
              <a
                [routerLink]="['/news', item.slug]"
                class="fw-bold my-3 card-name"
                >{{ item.title }}</a
              >
              <span class="text-gray fs-7">{{
                item.created_at | formatdate
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div
      class="fw-bold text-primary-1 fs-4 text-center py-3 border-top border-bottom my-4"
    >
      Cập nhật những tin tức mới nhất về du lịch
    </div>
    <div class="row" *ngIf="newsList.length > 0">
      <div
        class="col-xl-4 col-md-6 col-12 mb-2 mb-md-4"
        *ngFor="let item of newsList"
      >
        <div class="card card-hover rounded-4">
          <div class="card-body p-0 position-relative overflow-hidden">
            <div class="rounded-4 overflow-hidden" style="height: 560px">
              <img
                src="{{ item.thumbnail }}"
                class="card-img-top h-100 object-fit-cover rounded-4"
                alt="{{ item.title }}"
              />
            </div>
            <div
              class="position-absolute bottom-0 bg-grandient start-0 end-0 p-2 p-md-4 text-white rounded-bottom-4"
            >
              <a
                [routerLink]="['/news', item.slug]"
                class="text-light fw-bold fs-5 fs-md-4"
                >{{ item.title }}</a
              >
              <div class="fs-7 mt-2">
                Ngày {{ item.created_at | formatdate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
