<main style="padding-top: 90px">
    <div class="container">
        <div class="d-flex flex-column gap-2 align-items-center my-5 text-center">
            <div>
                <img width="96" height="96" src="./assets/images/icons/checked.png" alt="">
            </div>
            <div class="fw-bold text-primary fs-4 my-3">Đặt hàng thành công!</div>
            <div>Cảm ơn quý khách hàng đã lựa chọn tại QuinTravel</div>
            <div class="mt-3 text-center " style="max-width: 660px;">Đơn hàng của bạn sẽ được sử lý trong thời gian sớm nhất. Trong trường hợp có bất kì thắc mắc nào thì bạn liên hệ số điện thoại <span class="fw-bold text-gray">0358723520</span>.</div>

            <div class="mt-5">
                <a [routerLink]="['/']" class="btn btn-warning text-white">Quay về trang chủ</a>
            </div>
        </div>
    </div>

</main>

